{{set . "title" "Home"}}
{{template "header.html" .}}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Teams</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
        <form id="teamform" name="teamform" action="/api/v1/teams/add" method="POST">
            <label>Name</label><input type="text" name="Name" /><br/>
            <label>Abbrev</label><input type="text" name="Abbrev" /><br/>
            <label>Slug</label><input type="text" name="Slug" /><br/>
            <label>Competition</label>
            <select name="PrimaryCompetitionId">
            {{range .competitions}}
			<option value="{{ .Id.Hex }}">{{ .Name }}</option>
            {{end}}
            </select>
            <label>CrestPathPrefix</label><input type="text" name="CrestPathPrefix" /><br/>
            <label>CrestSmallPath</label><input type="text" name="CrestSmallPath" /><br/>
            <label>CrestMediumPath</label><input type="text" name="CrestMediumPath" /><br/>
            <input id="submit_btn" type="button" value="Add" />
        </form>
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
<script>
$.fn.serializeObject = function()
{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};
    
 $(document).ready(function(){
    var submit_btn = $("#submit_btn");
    var team_form = $("#teamform");
    var all_input = $("input");
    var url = "/api/v1/teams/add/";
    
    submit_btn.on("click", function(){
        $.ajax(url, {
            data : JSON.stringify(team_form.serializeObject()),
            contentType : 'application/json',
            type : 'POST', 
            success: function(result){
                all_input.val('');
                alert("Done");
            }
        });
        return false;
    });
 });
</script>
