{{set . "title" "SignUp"}}
{{template "header.html" .}}

<h1>Register:</h1>

<form action="{{url "App.SaveUser"}}" method="POST">
  {{with $field := field "user.Email" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Email:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "user.DisplayName" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Display name:</strong> <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "user.Password" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Password:</strong> <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "verifyPassword" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Verify password:</strong> <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  <p class="buttons">
    <input type="submit" value="SignUp"> <a href="{{url "App.Index"}}">Cancel</a>
  </p>
</form>

{{template "footer.html" .}}