{{set . "title" "Home"}} {{template "header.html" .}}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Matches</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      <form id="matchform" name="matchform" action="/api/v1/matches/add" method="POST">
        <label>Competition</label>
        <select name="CompetitionId" id="CompetitionId">
          {{range .competitions}}
          <option value="{{ .Id.Hex }}">{{ .Name }}</option>
          {{end}}
        </select>
        <label>Home Team</label>
        <select name="HomeTeamId" id="HomeTeamId">
          {{range .teams}}
          <option value="{{ .Id.Hex }}">{{ .Name }}</option>
          {{end}}
        </select>
        <br/>
        <label>Away Team</label>
        <select name="AwayTeamId" id="AwayTeamId">
          {{range .teams}}
          <option value="{{ .Id.Hex }}">{{ .Name }}</option>
          {{end}}
        </select>
        <br/>
        <label>Kick Off</label>
        <input type="text" name="KickoffAt" id="CompetitionId" />
        <br/>
        <button id="submit_btn" type="button">Add</button>
      </form>
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
<script>
  $.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
      if (o[this.name] !== undefined) {
        if (!o[this.name].push) {
          o[this.name] = [o[this.name]];
        }
        o[this.name].push(this.value || '');
      } else {
        o[this.name] = this.value || '';
      }
    });

    o["CompetitionName"] = $('#CompetitionId option:selected').text();
    o["HomeTeamName"] = $('#HomeTeamId option:selected').text();
    o["AwayTeamName"] = $('#AwayTeamId option:selected').text();
    return o;
  };

  $(document).ready(function() {
    var submit_btn = $("#submit_btn");
    var team_form = $("#matchform");
    var all_input = $("input");
    var url = "/api/v1/matches/add/";

    submit_btn.on("click", function() {
      team_form.serializeObject()

      $.ajax(url, {
        data: JSON.stringify(team_form.serializeObject()),
        contentType: 'application/json',
        type: 'POST',
        success: function(result) {
          all_input.val('');
          alert("Done");
        }
      });

      return false;
    });
  });
</script>
